body {
    background-color: #1b1e1c;
    color: #fff;
}
/* doctors_img1 */
main {
    padding-top: 5.2rem;
}
.doctors_head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 25vh;
    padding: 0 50px;
}
.doctors_head_left {
    display: flex;
}
.doctors_head_left_right {
    padding-left: 100px;
}
.doctors_head_left_right > div:first-child {
    color: rgb(148, 157, 155);
    font-weight: bold;
}
.doctors_head_left_right > div:first-child > span {
    color: rgb(19, 152, 116);
}
.doctors_head_left_right > div:last-child {
    font-size: 70px;
    font-weight: bold;
}
.doctors_head_left_left {
    font-size: 23px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.doctors_head_left_left > div:first-child {
    color: rgb(19, 152, 116);
    text-decoration: underline;
}
.doctors_head_left_left > div:last-child > a:hover {
    opacity: 0.7;
}
.doctors_head_left_left > div:last-child > a {
    font-weight: bold;
    margin-top: 20px;
}
/*  doctors_img1 */
.doctors_img1 > img {
    width: 100%;
}

/* doctors_img2 */
.doctors_img2 {
    border-bottom: 1px solid rgb(100, 106, 104);
    padding-bottom: 130px;
    border-bottom: 1px solid rgb(100, 106, 104);
}
.doctors_img2_1 {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-top: 130px;
}
.doctors_img2_txt {
    padding-right: 160px;
}
.doctors_img2_txt > div {
    font-size: 24px;
    color: rgb(148, 157, 155);
}
.doctors_img2_txt > div:last-child {
    color: white;
    font-weight: 600;
}
.doctors_img2_txt > p {
    font-size: 80px;
    margin-bottom: 20px;
    color: rgb(148, 157, 155);
}
.doctors_img2_txt > p > span {
    font-weight: bold;
    color: rgb(2, 179, 136);
}
.doctors_img2_txt2 {
    padding-left: 60px;
}
.doctors_img2_txt2 > div {
    font-size: 24px;
    color: rgb(148, 157, 155);
}
.doctors_img2_txt2 > div:last-child {
    color: white;
    font-weight: 600;
}
.doctors_img2_txt2 > p {
    font-size: 80px;
    margin-bottom: 20px;
    color: rgb(148, 157, 155);
}
.doctors_img2_txt2 > p > span {
    font-weight: bold;
    color: rgb(2, 179, 136);
}
.doctors_img2 img {
    width: 860px;
}

.doctors_img2_2 {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-top: 130px;
}

.doctors_solution_top {
    margin: 130px 0 0 150px;
}
.doctors_solution_top > h3 {
    font-size: 40px;
    font-weight: bold;
}
.doctors_solution_top > p:first-child {
    padding-top: 30px;
}
.doctors_solution_top > p,
h6 {
    font-size: 18px;
    font-weight: 600;
    color: rgb(149, 154, 152);
}
/* doctors */
.doctors {
    display: flex;
    align-items: center;
    padding-top: 40px;
}
.doctors > div {
    font-size: 36px;
    /* font-weight: 600; */
    padding-left: 10px;
}
.doctors_solution_top h6 {
    padding-top: 60px;
}
.doctors_solution_top P {
    padding-top: 15px;
}
.doctors_solution_bottom > h1 {
    font-size: 45px;
    margin-top: 100px;
    padding-bottom: 50px;
    border-bottom: 1px solid rgb(100, 106, 104);
}
.doctors_solution_bottom {
    margin-left: 150px;
    margin-top: 50px;
    padding-bottom: 250px;
}
.doctors_solution_bottom > h3 {
    font-size: 25px;
    margin-top: 40px;
}
.doctors_solution_bottom > p {
    font-weight: bold;
    color: rgb(148, 157, 155);
    margin-top: 15px;
}

/* doctors_under_btn */
.doctors_under_btn {
    display: flex;
    justify-content: flex-end;
    border-bottom: 1px solid rgb(149, 154, 152);
}
.doctors_under_btn_txt {
    text-align: right;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-right: 40px;
    font-size: 20px;
    color: rgb(139, 146, 144);
}
.doctors_under_btn_txt > a {
    color: rgb(2, 179, 136);
    padding-top: 20px;
    font-size: 23px;
    text-decoration: underline 2px;
}
.doctors_under_btn_contact {
    width: 350px;
    height: 150px;
    background-color: rgb(73, 80, 78);
    font-size: 30px;
    font-weight: bold;
    padding: 20px 0 0 15px;
    position: relative;
    cursor: pointer;
}
.doctors_under_btn_contact i {
    position: absolute;
    bottom: 10px;
    right: 20px;
}
.doctors_under_btn_text {
    width: 350px;
    height: 150px;
    background-color: rgb(2, 179, 136);
    font-size: 30px;
    font-weight: bold;
    padding: 20px 0 0 15px;
    position: relative;
    cursor: pointer;
}
.doctors_under_btn_text i {
    position: absolute;
    bottom: 10px;
    right: 20px;
}
.doctors_under_btn_contact:hover,
.doctors_under_btn_text:hover {
    opacity: 0.8;
}
